.menubar ul.menu{
    list-style: none;
    float: left;
}

.menubar ul.menu li{
    float: left;
}

.nav ul{
    list-style: none;
    height: 60px;
    background: rgb(0, 0, 0);
    width: 100%;
    margin: 0;
}

.nav li{
    text-align: right;
    color: floralwhite;
    float: right;

}

.nav >ul >li{
    padding-top: 15px;
    padding-right: 55px;
    list-style: none;
}


.header{
    width: 100%;
    background: url(../img/พิ้นหลัง001.jpg) no-repeat;
    height: 550px;
    background-size: cover;
    background-position: center center;
    margin: 0;
    padding-top: 0em;
}

.header{
    margin: 0;
    padding-top: 45px;
}

.body1 {
    height: 600px;
    background: rgb(255, 255, 255);
    width: 100%;
    padding-top: 75px;
}

.body2{
    height: 80px;
    background: rgb(44, 43, 43);
    width: 100%;
    padding-block: 5px;
}

.body3{
    height: 110px;
    background: rgb(26, 25, 25);
    width: 100%;
    padding-block: 5px;
}

.header11{
    list-style: none;
    height: 100px;
    background: rgb(94, 90, 90);
    width: 100%;
    margin: 0;
    float: left;
}

.header11 >h4{
    float: right;
    padding-top: 37px;
    padding-right: 55px;
}

.nai ul{
    list-style: none;
    height: 80px;
    background: rgb(0, 0, 0);
    width: 100%;
    margin: 0;
}

.nai >ul >li{
    padding-top: 22px;
    padding-right: 55px;
    list-style: none;
    text-align: right;
    color: floralwhite;
    float: right;
}

.center1{
    padding-top: 100px;
}

.a1{
    background-color: rgb(170, 170, 170);
}

.a2 >{
    height: 400px;
    width: 100%;
}

.a2 >.center1{
    float:none;
}

.dd{
    background: url(../img/ตัวเอง002.png) no-repeat; 
    height: 420px;
    width: 100%;
    list-style: none;
    margin: 0;
}

.cc{
    background: url(../img/พื้นหลัง003.jpg) no-repeat;
    height: 250px;
    width: cover;
    list-style: none;
    margin: 0;
    background-size: cover;
    background-position: center center;
}

.bg{
    background: rgb(87, 86, 86);
    height: 20px;
    width: 100%;
}

.ee{
    background: url(../img/ตัวเอง004.png) no-repeat; 
    height: 420px;
    width: 100%;
    list-style: none;
    margin: 0;
}

.ff{
    background: url(../img/ขาว001.png) no-repeat; 
    height: 900px;
    width: 100%;
    list-style: none;
    margin: 0;
}

.ff>ul{
    list-style:none;margin:0;padding:0
}

.ff >ul>li{
    float:left;
    margin:0;
    padding:0;
}

.ff >ul>li>img{
    border:0;
}

.gg{
    height: 50px;
    background: rgb(44, 43, 43);
    width: 100%;
    padding-block: 5px;
}

.hh{
    height: 70px;
    background: rgb(26, 25, 25);
    width: 100%;
    padding-block: 5px;
}

.ii{
    height: 196px;
    width: 100%;
    background: url(../img/กระดาษ2.png) no-repeat;
}

.jj{
    height: 800px;
    width: 100%;
    background: url(../img/กระดาษ3.png) no-repeat;
}

.kk{
    width: 100%;
    height: 100%;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.mm{
    height: 800px;
    width: 100%;
    background: url(../img/กระดาษ3.png) no-repeat;
}

.nn{
    height: 150px;
    width: 100%;
    background: url(../img/กระดาษ3.png) no-repeat;
}